.container {
  padding: 2.3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.defaultRadius {
  border-radius: 0.8rem;
}

.methodSelections {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.methodContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}


.bookingTable{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  /* background-color: #FFF; */
  background-color: rgba(0, 81, 162, 0.15);

}