.mainContainer{
    display: flex;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    flex-direction: column;
    gap: 1.875rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex: 1 0 0;
    align-self: stretch;
}

.leftContainer{
    display: flex;
    padding: 0.625rem 1.25rem 1.875rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.625rem;
    background: rgba(0, 81, 162, 0.15);
}

.leftsubContainer{
    display: flex;
    height: 30.75rem;
    padding: 0.625rem 1.25rem 1.875rem 1.25rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1.375rem;;
    flex-shrink: 0;
}

.shift{
    display: flex;
    width: 0.6875rem;
    height: 28.3125rem;
    padding-bottom: 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.875rem;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 0.625rem;
}

.star{
    position: relative;
    left: -0.4rem;
}

.slot1{
    width: 40rem;
    overflow: scroll;
    height: 23.3125rem;
    overflow-x: hidden;
}

.slot{
    /* width: 31.8125rem; */
    height: 28.3125rem;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 0.625rem;
    margin-right: 0.8rem;
}

.subheading{
    margin: 0.5rem 0.5rem;
    color: #000;
    font-family: Manrope;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slottime{
    margin: 1.5rem 1.5rem;
    display: flex;
    /* width: 30.6875rem; */
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.625rem;
    flex-wrap: wrap;

}
.bottom{
    display: flex;
    flex-direction: row;
}

.bedsheetChange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 1rem;
    padding-top: 2rem;
    
}
.request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding-left: 22rem;
    padding-right: 1rem;
    padding-top: 1.75rem;
}

.heading{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    padding-bottom: 1rem;
}

.headingText{
    /* width: 35.0625rem; */
    height: 3.375rem;   
    color: #0051A2;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headingContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.625rem;
    background: #FFF;
    
    
}

.laundryBooking{
    padding-top: 2rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    /* overflow: scroll; */
}

.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.rightSubContainer1{
    display: flex;
    height: 16.75rem;
    /* padding: 1.25rem; */
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 0.625rem;
    background: rgba(0, 81, 162, 0.15);
}

.headingText2{
    display: flex;
    height: 3.375rem;
    padding: 0rem 7.125rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.form2{
    display: flex;
    padding: 1rem 6rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
    align-self: stretch;
}

.form2Input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
}


.bookingTable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    background-color: #FFF;
}

.rightSubContainer2{
    display: flex;
    height: 16.75rem;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0.625rem;
    background: rgba(0, 81, 162, 0.15);
}


.inputText{
    width: 20rem;
}

